<html>
  <head>
    <meta charSet='utf-8'>
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'>
    <link rel='icon' href='/favicon.ico'>

    <title><%= htmlWebpackPlugin.options.appConfig.meta.title %></title>
    <meta name='description' content='<%= htmlWebpackPlugin.options.appConfig.meta.description %>'>
    <meta name='keywords' content='<%= htmlWebpackPlugin.options.appConfig.meta.keywords %>'>

    <meta property='og:url' content='<%= htmlWebpackPlugin.options.appConfig.meta.url %>'>
    <meta property='og:image' content='/og-image.png'>
    <meta property='og:title' content='<%= htmlWebpackPlugin.options.appConfig.meta.title %>'>
    <meta property='og:description' content='<%= htmlWebpackPlugin.options.appConfig.meta.description %>'>

    <link rel='' href='/manifest.json'>
    <meta name='theme-color' content='#000000'>
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='application-name' content='<%= htmlWebpackPlugin.options.appConfig.meta.title %>'>

    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
    <meta name='apple-mobile-web-app-title' content='<%= htmlWebpackPlugin.options.appConfig.meta.title %>'>

    <meta name='msapplication-config' content='/browserconfig.xml'>
    <meta name='msapplication-navbutton-color' content='#000000'>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i'>
  </head>
  <body>
    <div id='app'>
    </div>
  </body>
</html>
